# r4 Data Science Exercise

On August 24th, I spoke with Katie Sullivan in regard to a position as a data scientist with r4. I received this data challenge and here are my results and process.

### First
I began by opening the excel file, noted it had 4 sheets, one of which was data and the rest were related to the challenge itself.

### Second
I chose to complete this in Python as it is becoming my language of choice, I find that employers prefer it to R (which I am generally stronger in), the visualizations are simpler to handle, and I can easily share the Jupyter Notbook with you in a state that demonstrates the outcome of my operations

### Third
I imported libraries to handle the data and began a short EDA (exploratory data analysis) to determine an idea of what I was working with and to approach the questions that I am posed in A and B.

#### Initial EDA and transformations
* Import data by utilizing Pandas 'read' functionality and select the appropriate sheet of the data
* Conduct a quick view with 'head' (transposed to make it easier to read, this is personal preference)
    * Noted the User_ID is some sort of hash, I prefer to categorize by counting numbers as strings because thy aren't meant to be operated upon (e.g. adding social security numbers doesn't make sense, so looking at them as stringed categories is more appropriate)

In [1]:
# Libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# Importing
df = pd.read_excel('/Users/mbair/Git/ConvexOptimizationWithPython/Data/DSx.xlsx', sheet_name = 'Data')
df.head(10)

,User_ID,Org_ID,First_Use_Date,Use_Date,Portal_Page
0,07e1e890-947a-42a5-bff6-a6905f6dc2cf-1046-10b2...,P158,2015-01-12,2015-01-12,Discovery Cube
1,07e1e890-947a-42a5-bff6-a6905f6dc2cf-1046-10b2...,P158,2015-01-12,2015-01-12,Discovery Cube
2,07e1e890-947a-42a5-bff6-a6905f6dc2cf-1046-10b2...,P158,2015-01-12,2015-01-12,Discovery Cube
3,07e1e890-947a-42a5-bff6-a6905f6dc2cf-1046-10b2...,P158,2015-01-12,2015-01-12,Discovery Cube
4,07e1e890-947a-42a5-bff6-a6905f6dc2cf-1046-10b2...,P158,2015-01-12,2015-01-12,Discovery Cube
5,07e1e890-947a-42a5-bff6-a6905f6dc2cf-1046-10b2...,P158,2015-01-12,2015-01-12,Discovery Cube
6,07e1e890-947a-42a5-bff6-a6905f6dc2cf-1046-10b2...,P158,2015-01-12,2015-01-12,Discovery Cube
7,07e1e890-947a-42a5-bff6-a6905f6dc2cf-1046-10b2...,P158,2015-01-12,2015-01-12,Discovery Cube
8,07e1e890-947a-42a5-bff6-a6905f6dc2cf-1046-10b2...,P158,2015-01-12,2015-01-12,Discovery Cube
9,07e1e890-947a-42a5-bff6-a6905f6dc2cf-1046-10b2...,P158,2015-01-12,2015-01-12,Discovery Cube

In [3]:
df['id'] = pd.Categorical((pd.factorize(df['User_ID'])[0] + 1).astype(str))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134950 entries, 0 to 134949
Data columns (total 6 columns):
User_ID           134950 non-null object
Org_ID            134950 non-null object
First_Use_Date    134950 non-null datetime64[ns]
Use_Date          134950 non-null datetime64[ns]
Portal_Page       134950 non-null object
id                134950 non-null category
dtypes: category(1), datetime64[ns](2), object(3)
memory usage: 5.5+ MB

In [4]:
df.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134950 entries, 0 to 134949
Data columns (total 6 columns):
User_ID           134950 non-null object
Org_ID            134950 non-null object
First_Use_Date    134950 non-null datetime64[ns]
Use_Date          134950 non-null datetime64[ns]
Portal_Page       134950 non-null object
id                134950 non-null category
dtypes: category(1), datetime64[ns](2), object(3)
memory usage: 5.5+ MB

In [5]:
df.describe().T

,count,unique,top,freq,first,last
User_ID,134950,2798,eb43dc75-8c60-487c-9615-4e750042a0e3-26930-7f4...,1096,NaN,NaN
Org_ID,134950,10,EZ,29318,NaN,NaN
First_Use_Date,134950,7,2015-01-07 00:00:00,25134,2015-01-07 00:00:00,2015-01-13 00:00:00
Use_Date,134950,34,2015-01-13 00:00:00,8166,2015-01-07 00:00:00,2015-02-09 00:00:00
Portal_Page,134950,6,Discovery Cube,105489,NaN,NaN
id,134950,2798,2615,1096,NaN,NaN